# Carpetas de compilación
bin/
obj/
# Configuración de Visual Studio
.vs/
*.user
*.suo
# Configuración de VS Code
.vscode/
# Archivos de sistema
.DS_Store
Thumbs.db
# Archivos de entorno
.env
appsettings.Development.json